:root {
    --primary-color: rgba(255, 0, 191, 0.575);
    --background: rgb(46, 46, 46);
    --light-background: rgb(75, 75, 75);
    --lighter-background: rgb(109, 109, 109);
    --lightest-background: rgb(150, 150, 150);
    --input-shadow: 1px 1px 6px 0.175px var(--primary-color);
}

body {
    background: var(--background);
    font-family: 'Segoe UI';
    color: white;
    margin: 0;
}

body * {
    margin: 20px 7px;
}

.block {
    display: block;
}

div.site-head {
    background-color: var(--primary-color);
    margin: 0;
    padding: 200px 40px;
}

div.site-head h1 {
    margin: 0;
    font-size: 4em;
}

div.site-head h2 {
    margin: 10px 0 0 0;
}

div.site-content {
    margin: 0;
}

div.site-content h3 {
    margin-bottom: 0;
}

div.site-body {
    margin: 0;
}

footer {
    text-align: right;
    background: var(--light-background);
    padding: 0;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 15px;
    color: var(--lightest-background);
}

input {
    outline: none;
    transition-duration: 0.09s;
    font-family: 'Segoe UI';
    margin: 20px 7px;
}

input[type=text] {
    font-weight: 400;
    width: 70%;
    padding: 10px 10px;
    border: none;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 3px;
    outline: none;
    background: var(--light-background);
    color: rgb(190, 190, 190);
    cursor: auto;
}

input[type=text]::placeholder {
    color: var(--lightest-background);
}

input[type=text]:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

input[type=text]:hover {
    /* border-color: rgb(88, 0, 88); */
    box-shadow: var(--input-shadow);
}

input[type=button] {
    cursor: pointer;
    padding: 7px 16px;
    border: 2px solid transparent;
    border-radius: 3px;
    background: var(--primary-color);
    color: rgb(235, 235, 235);
    font-weight: 600;
}

input[type=button]:hover {
    box-shadow: var(--input-shadow);
}

input[type=button]:active {
    border-color: var(--primary-color);
    background: rgb(78, 78, 78);
    transform: scale(0.95, 0.95);
}

@media screen and (max-width:1000px) {
    * {
        font-size: 0.9em;
    }
    div.site-head {
        padding: 50px 40px;
    }
    div.site-head h1 {
        font-size: 4em;
    }
    div.site-head h2 {
        font-size: 2em;
    }
    div.site-content h1 {
        font-size: 1.5em;
    }
    input {
        font-size: 1.1em;
    }
    input[type=button] {
        padding: 7px 10px;
    }
}

@media screen and (min-width: 2000px) {
    * {
        font-size: 1.1em;
    }
    div.site-head {
        padding: 180px 40px;
    }
    input {
        margin: 30px 7px;
    }
}